* {
  margin : 0;
  padding : 0;
  box-sizing: 0;
}
 body {
  height: 100vh;
  font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
 }

 section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
 }

 section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
 }

 section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px black;
 }

 section main h2 {
  font-weight: 600;
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
 }

 section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  gap: 20px;
  transition: 0.3s;
 }

 section main a:hover {
  background-color: white;
  color: #333;
 }

 section main a i {
  font-size: 1.2em;
 }

 section footer p {
  color: white;
  font-size: 0.7em;
  padding: 20px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
 }

 section footer p a {
  color: white;
  font-weight: 600;
  text-decoration: none;
 }